* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  max-width: 900px;
  margin: 0 auto;
  font-family: "Courier New", Courier, monospace;
}
a {
  color: var(--black1);
}
ul {
  width: 100%;
  list-style: none;
}
li {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5em;
  transition: background-color 0.3s;
}
li:hover {
  background-color: var(--white2);
}

.sign-section {
  width: 100%;
}
.redirect-section {
  width: 100%;
  margin-top: 1em;
  text-align: center;
}

.sign-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input {
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  box-shadow: 0px 2px 5px var(--green1);
  transition: 0.2s linear;
}
.input {
  margin-top: 1em;
}
.input:nth-child(1) {
  margin-top: 0;
}
.input-simple {
  box-shadow: 0px 2px 5px var(--grey1);
}
.input-invalid {
  box-shadow: 0px 2px 5px var(--red1);
}

.sign-main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-article {
  width: 50%;
  height: 50%;
  background-color: var(--white1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sign-article__title {
  margin-bottom: 1em;
}
